# PostgreSQL database configuration
POSTGRES_USER=energy_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=energy_advisor
POSTGRES_HOST=db

# Google OAuth2 configuration
GOOGLE_CLIENT_ID=13518631048-hm0jlnrgj7utm440e63ri5oi93s5pfu3.apps.googleusercontent.com

# JWT configuration
ACCESS_TOKEN_EXPIRATION_MINUTES=60
REFRESH_TOKEN_EXPIRATION_DAYS=7
JWT_SECRET_KEY=fIVQo7gOpxsA1zB6zw9QPYFzmPmNsd9pFzuhFs7eKje
SIGNATURE_ALGORITHM=HS256